body {
    margin: 0;
    background: #1C1C1C;
    color:white;
    font-family: 'Inter', sans-serif;
    padding: 50px;
}
main{
    background: #1F2937;
    margin: 0 auto;
    padding: 115px 52px;
    max-width: 880px;
}

.copyright{
    font-size: 0.8em;
    text-align: center;
}

.copyright a {
    color:white
}

.copyright a:hover {
    color:lightgreen
}

h1{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
}

h1 span {
    color: #4ADF86;
    display: block;
}

#password-slider-text {
    font-size: 0.9em;
  }
  
#slider {
    display: block;
    margin: 1em 0;
}

.generate-btn{
    background-color: #4ADF86;
    border:none;
    margin: 1em 0;
    padding: 9px 15px;
    border-radius: 5px;
    color: white;
}
.generate-btn:hover{
    transform: scale(1.02);
    cursor:pointer;
    transition:0.3s
}

hr{
    border: 1px solid #2F3E53;
    margin: 1em 0;
}

.suggestion-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.generated-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background: #273549;
    border:none;
    border-radius: 5px;
    color:#4ADF86;
    margin: 0.5em 0;
    font-size: 16px; 
}

.generated-password:hover{
    cursor:pointer;
    transition:0.3s;
    opacity: 0.8
}

